/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

/* global css */
:root {
  --pink: hsl(322, 100%, 66%);
  --palecyan: hsl(193, 100%, 96%);
  --darkcyan: hsl(192, 100%, 9%);
  --grayblue: hsl(208, 11%, 55%);
  --sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  font-size: 62.5%;
}
* {
  margin: 0;
  box-sizing: border-box;
}

/* font color css */
.font-palecyan {
  color: var(--palecyan);
}
.font-darkcyan {
  color: var(--darkcyan);
}

/* html semantic elements css */
body {
  background: url(/images/bg-hero-mobile.svg) no-repeat;
  font-size: 1.8em;
  padding: 1em;
}
header {
  display: flex;
}
footer {
  background-color: var(--darkcyan);
}

/* logo css */
.header-logo {
  transform: scale(0.5) translate(-50%);
  overflow: visible;
  /* 50% of original size of the svg */
  margin: 0;
}

/* box shadow  */
.box-shadow {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
/* button css */
.header-btn {
  background-color: white;

  white-space: nowrap;
  align-self: center;
  height: 2rem;
  font-size: 0.5em;
  font-weight: 600;
  flex-shrink: 0;
  margin-left: auto;
  border: none;
  border-radius: 20px;
  padding: 0 1.5em;
  font-family: var(--poppins);
  /* transform: translate(-30%); */
}
/* footer icon css */
.icon-email {
  background: url(./images/icon-email.svg) no-repeat;
  height: 20px;
  width: 20px;
  display: block;
}
.icon-location {
  background: url(/images/icon-location.svg) no-repeat;
  height: 20px;
  width: 20px;
  display: block;
}

.icon-phone {
  background: url(/images/icon-phone.svg) no-repeat;
  height: 20px;
  width: 20px;
  display: block;
}

/* frontend mentor attribution css */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {
  .header-logo {
    transform: scale(1) translate(0%);
  }
}
